img.image_fit{
    object-fit: cover;
}
.vendor_registration .form-group select.form-select.mb-3 {
    border: 1px solid #ececec !important;
}

 .product-action-1 {

    width: inherit !important;
}

.cart-dropdown-wrap ul li {

    flex-wrap: nowrap;
}

/* responsive css  */
@media screen and (max-width: 991px) {
    .miniCart li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .shopping-cart-img img {
        max-width: 70px;
    }
    .shopping-cart-title h4, h3 {
        font-size: 14px;
    }
    .shopping-cart-title h4 {
        font-weight: 300;
    }
    .shopping-cart-delete a i {
        color: red;
        background: #ededed;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }


